<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Cars</title>
</head>


<body>


<h1>Car List Panel</h1>

<a href="/admin/logout">
  Logout
</a>


<table border="1">

  <tr>
    <th>ID</th>
    <th>Plate</th>
    <th>VIN</th>
    <th>Brand</th>
    <th>Model</th>
  </tr>


  <tr th:each="car : ${cars.content}">

    <td th:text="${car.id}"></td>

    <td th:text="${car.plate}"></td>

    <td th:text="${car.vin}"></td>

    <td th:text="${car.brand}"></td>

    <td th:text="${car.model}"></td>

  </tr>


</table>


<br>


<div>

  <a th:if="${cars.hasPrevious()}"
     th:href="@{/admin/cars(page=${cars.number-1})}">
    Previous
  </a>


  <span>
Page:
<span th:text="${cars.number+1}"></span>
/
<span th:text="${cars.totalPages}"></span>
</span>


  <a th:if="${cars.hasNext()}"
     th:href="@{/admin/cars(page=${cars.number+1})}">
    Next
  </a>


</div>


</body>

</html>